@keyframes button{
    0%{
        stroke: #7a0000;
    }
    50%{
        stroke: #c40000;
    }
    100%{
        stroke: #f00;
    }
}
@keyframes bod{
    0%{
        width: 100%;
    }
    100%{
        width: 25%;
    }
}
@keyframes bod1{
    0%{
        width: 25%;
    }
    100%{
        width: 100%;
    }
}
@keyframes fals{
    0%{
        transform: skew(10deg, 10deg);
    }
    50%{
        transform: skew(-10deg, -10deg);
    }
    100%{
        transform: skew(0, 0);
    }
}